<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
	android:versionCode="13000005"
	android:versionName="13.0.5_reiryuki"
	android:compileSdkVersion="33"
	android:compileSdkVersionCodename="13"
	package="com.oplus.audio.effectcenterui"
	platformBuildVersionCode="33"
	platformBuildVersionName="13"
	>
	<uses-sdk
		android:minSdkVersion="30"
		android:targetSdkVersion="33"
		>
	</uses-sdk>
	<compatible-screens
		>
	</compatible-screens>
	<uses-permission
		android:name="android.permission.QUERY_AUDIO_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MODIFY_AUDIO_ROUTING"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.POST_NOTIFICATIONS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_SURFACE_FLINGER"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ROTATE_SURFACE_FLINGER"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SYSTEM_ALERT_WINDOW"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERACT_ACROSS_USERS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.USE_EXACT_ALARM"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.BLUETOOTH_CONNECT"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.BLUETOOTH"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MODIFY_AUDIO_SETTINGS"
		>
	</uses-permission>
	<queries
		>
		<package
			android:name="com.oplus.audio.effectcenter"
			>
		</package>
	</queries>
	<application
		android:theme="@7F130044"
		android:label="@7F120C94"
		android:icon="@7F08058F"
		android:name="com.oplus.settings.SettingsApplicationEx"
		android:allowClearUserData="true"
		android:backupAgent="com.android.settings.backup.SettingsBackupHelper"
		android:allowBackup="true"
		android:hardwareAccelerated="true"
		android:supportsRtl="true"
		android:extractNativeLibs="false"
		android:usesCleartextTraffic="true"
		android:defaultToDeviceProtectedStorage="true"
		android:directBootAware="true"
		android:appComponentFactory="androidx.core.app.CoreComponentFactory"
		>
		<uses-library
			android:name="oplus"
			android:required="false"
			>
		</uses-library>
		<activity
			android:theme="@7F13023B"
			android:label="@7F120C94"
			android:name="com.oplus.partners.dolby.activity.DolbyMainActivity"
			android:exported="true"
			android:screenOrientation="3"
			android:configChanges="0x00000D80"
			android:uiOptions="0x00000001"
			>
			<intent-filter
				>
				<action
					android:name="oplus.intent.action.settings.DOLBY_MAIN"
					>
				</action>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity-alias
			android:theme="@7F13023B"
			android:label="@7F120C94"
			android:name=".DolbyMainActivity"
			android:exported="true"
			android:screenOrientation="3"
			android:targetActivity="com.oplus.partners.dolby.activity.DolbyMainActivity"
			android:uiOptions="0x00000001"
			android:resizeableActivity="true"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="android.media.action.DISPLAY_AUDIO_EFFECT_CONTROL_PANEL"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.CATEGORY_CONTENT_MUSIC"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.HEADSET_SETTINGS"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.dolby.LAUNCH_DS_APP"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<action
					android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"
					>
				</action>
			</intent-filter>
		</activity-alias>
		<activity
			android:theme="@7F13023B"
			android:label="@7F1218E7"
			android:name="com.oplus.partners.dolby.activity.OrealityMainActivity"
			android:exported="true"
			android:taskAffinity="android.task.oreality.maintask"
			android:screenOrientation="3"
			android:configChanges="0x00000D80"
			android:uiOptions="0x00000001"
			>
			<intent-filter
				>
				<action
					android:name="oplus.intent.action.settings.OREALTY_MAIN"
					>
				</action>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="android.media.action.DISPLAY_AUDIO_EFFECT_CONTROL_PANEL"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.CATEGORY_CONTENT_MUSIC"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="miui.intent.action.HEADSET_SETTINGS"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="com.dolby.LAUNCH_DS_APP"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<service
			android:label="@7F120C94"
			android:icon="@7F08059F"
			android:name="com.oplus.partners.dolby.DolbyTileService"
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
			android:enabled="true"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="android.service.quicksettings.action.QS_TILE"
					>
				</action>
			</intent-filter>
		</service>
		<activity
			android:theme="@7F1305AB"
			android:label="@7F121ECE"
			android:name="com.oplus.settings.feature.homepage.OplusDeepLinkHomepageActivity"
			android:permission="android.permission.LAUNCH_MULTI_PANE_SETTINGS_DEEP_LINK"
			android:enabled="false"
			android:exported="true"
			android:taskAffinity=""
			android:launchMode="2"
			android:configChanges="0x00000DB0"
			>
			<intent-filter
				>
				<action
					android:name="android.settings.SETTINGS_EMBED_DEEP_LINK_ACTIVITY"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
			<meta-data
				android:name="com.android.settings.PRIMARY_PROFILE_CONTROLLED"
				android:value="true"
				>
			</meta-data>
		</activity>
		<receiver
			android:name="com.android.settings.search.SearchStateReceiver"
			android:permission="android.permission.READ_SEARCH_INDEXABLES"
			android:enabled="false"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="com.android.settings.SEARCH_START"
					>
				</action>
				<action
					android:name="com.android.settings.SEARCH_EXIT"
					>
				</action>
			</intent-filter>
		</receiver>
	</application>
</manifest>
